/* VARIABILI */

:root {
    --primary: #007BFF;
    --primary-dark: #0056b3;
    --gray-100: #f8f9fa;
    --gray-300: #dee2e6;
    --gray-600: #6c757d;
    --gray-900: #212529;
    --white: #ffffff;
    --danger: #dc3545;
    --success: #28a745;
    --info: #007BFF;

    --radius: 8px;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --transition: 0.3s ease;
}